.cart-container {
    position: fixed;
    top: 46px;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    backdrop-filter: blur(6px);
    color: white;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.cart-close-btn {
    color: white;
    background-color: rgba(250, 235, 215, 0);
}

.cart-header {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.7rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.cart-list {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.show-cart {
    transition-duration: 0.3s;
    opacity: 1;
    visibility: visible;
}