.cart-container {
    position: fixed;
    top: 46px;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.7);
    backdrop-filter: blur(6px);
    color: white;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.cart-close-btn {
    color: white;
    background-color: rgba(250, 235, 215, 0);
    transition-duration: 0.3s;
}

.cart-close-btn:hover {
    cursor: pointer;
    color: rgb(253, 127, 127);
    transition-duration: 0.3s;
}

.cart-header {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.7rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.cart-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.show-cart {
    transition-duration: 0.3s;
    opacity: 1;
    visibility: visible;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-sum {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}