.cart-h2 {
    font-size: 1.9rem;
    font-family: 'Caveat', cursive;
    padding: 1rem;
    background-color: #863a50;
    color: white;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: 1rem auto;
    max-width: 450px;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.products-btn {
    padding: 0.5rem 0.8rem;
    background-color: #AB4E68;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
}

.products-btn:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    transition-duration: 0.3s;
}


.cart-sum {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-between;
    padding: 1rem;
    width: 275px;
    border-radius: 0.2rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.subtotal-text,
.subtotal-price {
    white-space: nowrap;
}

.checkout-btn {
    display: block;
    width: 275px;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #ffa631;
    transition-duration: 0.25s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

.checkout-btn:hover {
    cursor: pointer;
    transition-duration: 0.25s;
    background-color: #f5910e;
}

.sum-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem auto;
    width: fit-content;
}

@media (min-width: 576px) { 

    .cart-flex {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }

}