.prod-card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.trending-img {
    display: block;
    height: 150px;
    height: 60%;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 37%);
    z-index: 2;
    border-radius: 0.5rem;
}

.prod-info-box {
    text-align: center;
    position: relative;
    padding: 0.5rem 0.4rem;
    font-size: 0.83rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod-price,
.prod-title {
    font-weight: 500;
}

.prod-buy-box {
    display: flex;
    justify-content: center;
}

.buy-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 0.3rem;
    padding: 0.3rem 0.3rem 0;
    background-color: #fdfdfd;
    border: 1px solid #ab4e6898;
    font-size: 1rem;
    transition-duration: 0.25s;
}

.buy-btn:hover {
    cursor: pointer;
    background-color: antiquewhite;
    transition-duration: 0.25s;
}

@media (min-width: 576px) {
    .prod-card {
        max-width: 270px;
    }
}