main {
    background-color: #FCFFF7;
    color: rgb(19, 19, 19);
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 1.25;
}

.intro-text {
    margin: 1rem;
}

.intro-img {
    display: block;
    opacity: 0.3;
    filter: blur(2px);
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.intro-img-fade {
    position: relative;
    background: linear-gradient(rgb(5, 3, 0) 60%, rgb(221, 133, 0) 100%);
}

.main-title {
    width: 90%;
    position: absolute;
    text-align: center;
    color: rgba(245, 245, 245, 0.9);
    font-weight: 400;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 2.1rem;
    font-variant: small-caps;
    z-index: 2;
}