.cart-item {
    display: flex;
    gap: 0.5rem;
    background-color: rgba(10, 10, 10);
    border-radius: 0.15rem;
    font-weight: 300;
    line-height: normal;
}

.cart-prod-text-container {
    display: flex;
    justify-content: space-between;
}

.prod-btns-container {
    display: flex;
    gap: 0.5rem;
}

.prod-qty-container {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    border-radius: 0.1rem;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    font-weight: 500;
    color: black;
    width: 70px;
    outline: 1px solid rgba(255, 255, 255, 0.4);
}

.prod-qty-btn {
    background-color: rgb(201, 199, 199);
    transition-duration: 0.2s;
    width: 20px;
    height: 20px;
}

.prod-qty-btn:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: rgb(146, 146, 146);
}

.prod-del-btn {
    transition-duration: 0.25s;
}

.prod-del-btn:hover {
    cursor: pointer;
    transition-duration: 0.25s;
    filter: drop-shadow(0 0 2px rgb(255, 0, 0));
}

.qty-text {
    font-size: 0.9rem;
}

.prod-qty-icon {
    display: block;
    margin: 0 auto;
}

.prod-price {
    white-space: nowrap;
}

.qty-btns {
    display: flex;
    gap: 0.3rem;
}

.prod-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 0.2rem;
}


.prod-img-qty-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: flex-end;
}

.cart-right-container {
    padding: 0 0.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}