html {
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-width: 290px;
}

.scroll-disable {
  position: fixed;
  overflow-y: scroll;
}

.App {
  position: relative;
}